<a href="https://colab.research.google.com/github/rangelvarnier/2RSYSTEM/blob/master/ml_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"

dados = pd.read_csv(uri)

x = dados[["home", "how_it_works", "contact"]]
y = dados["bought"]

In [6]:
mapa = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
dados.rename(columns = mapa)

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
5           1              0        1        1
6           1              1        0        0
7           1              0        1        1
8           1              1        0        0
9           1              0        1        1
10          1              1        0        1
11          1              0        1        1
12          0              0        1        0
13          0              0        1        0
14          0              0        1        0
15          0              0        1        0
16          0              0        1        0
17          0              1        0        0
18          0              0        1        0
19          0              1        0        0
20          0              0        1        0
21          0              1        0        0
22          0              0        1        0
23          0              1        0        0
24          1              0        1        1
25          1              1        1        1
26          1              1        1        1
27          1              0        1        1
28          0              1        0        0
29          0              0        1        0
..        ...            ...      ...      ...
69          1              1        0        0
70          1              1        0        0
71          0              0        1        0
72          0              0        1        0
73          0              0        1        0
74          0              0        1        0
75          0              1        0        0
76          0              0        1        0
77          0              1        0        0
78          0              0        1        0
79          1              1        0        1
80          0              0        1        0
81          0              0        1        0
82          0              0        1        0
83          1              0        1        1
84          1              0        1        1
85          1              1        0        0
86          1              1        0        0
87          0              0        1        0
88          0              0        1        0
89          1              0        1        1
90          1              0        1        1
91          1              1        0        0
92          1              1        0        0
93          0              0        1        0
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [7]:
dados.shape

(99, 4)

In [15]:
# separação dos elementos de treino e teste 
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [34]:
# treinando e verificando a acurácia da previsão
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes)

print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 0.96%

In [85]:
# separando 25% dos elementos para teste usando "model selection"
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# define a ordem dos números aleatorios, para deixar de serem tão eleatorios
SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state=SEED, 
                                                        test_size = 0.25,
                                                        stratify = y
                                                       )

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acurácia foi %.2f%%" % acuracia)

proporcao_treino_y = treino_y.value_counts()[0]/treino_y.value_counts()[1]
print("A proporção do treino y foi %.2f%%" % proporcao_treino_y)

proporcao_teste_y = teste_y.value_counts()[0]/teste_y.value_counts()[1]
print("A proporção do teste y foi %.2f%%" % proporcao_teste_y)

A acurácia foi 96.00%
A proporção do treino y foi 1.96%
A proporção do teste y foi 2.12%